<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Rice Pls Play™</title>
  <meta content="Rice Pls Play™" property="og:title" />
  <meta content="Send and vote on suggestions here, and hope reece plays them on stream" property="og:description" />
  <meta content="#dda22c" name="theme-color" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</head>

<body>
  <div>
    <h1>Rice Pls Play™</h1>
    <p>Currently logged in as: <%= disc.username %>#<%= disc.discriminator %> If you want to log in as someone else, <a href="/login">click here.</a> Please don't use alts to get more votes though ;(</p>
  </div>
  <div class="suggest">
    <h2>Suggest stuff here</h2>
    <input type="text" id="s-name" placeholder="Name"></input>
    <input type="text" id="s-link" placeholder="Link (optional)"></input>
    <input type="button" onclick="s('<%= disc.username %>#<%= disc.discriminator %>')" value="Go!"></input>
  </div>
  <div>
    <h2>Suggestions</h2>
    <p>
      Sort by <select id="sort">
        <option value="0">Default (Request date)</option>
        <option value="1">Reverse Default</option>
        <option value="2">Alphabetical</option>
        <option value="3">Reverse Alphabetical</option>
        <option value="4">Alphabetical (Name)</option>
        <option value="5">Reverse Alphabetical (Name)</option>
        <option value="6">Most upvoted</option>
        <option value="7">Most downvoted</option>
      </select>
      <input type="button" onclick="sort()" value="Go!"></input>
    </p>
  </div>
  <div class="suggestions">
    <% for(var i = 0; i < suggestions.length; i++) { %>
    <div class="s">
      <% if (suggestions[i].link !== undefined) { %>
      <h3><a href=<%= suggestions[i].link %>><%= suggestions[i].name %></a></h3>
      <% } else { %>
      <h3><%= suggestions[i].name %></h3>
      <% } %>
      <p>Suggested by <%= suggestions[i].user %></p>
      <p><b>
        <input class="up reddit" type="button" onclick="up('<%= suggestions[i].i %>', '<%= disc.id %>');"></input> 
        <% if (suggestions[i].whoup.includes(disc.id)) { %>
        <span style="color:orange">[<%= suggestions[i].up %>]</span> / 
        <% } else { %>
        <span style="color:orange"><%= suggestions[i].up %></span> / 
        <% } %>
        <% if (suggestions[i].whodown.includes(disc.id)) { %>
        <span style="color:skyblue">[<%= suggestions[i].down %>]</span> 
        <% } else { %>
        <span style="color:skyblue"><%= suggestions[i].down %></span>
        <% } %>
        <input class="down reddit" type="button" onclick="down('<%= suggestions[i].i %>', '<%= disc.id %>');"></input> 
        <input class="gold reddit" type="button" onclick="alert('Thanks for the gold, kind stranger!');"></input>
      </b></p>
    </div>
    <% } %>
  </div>
</body>

</html>