<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Rice Pls Play™</title>
  <meta content="Rice Pls Play™" property="og:title" />
  <meta content="Send and vote on suggestions here, and hope reece plays them on stream" property="og:description" />
  <meta content="#dda22c" name="theme-color" />
  <style>
    .up {
      background-image: url('https://toppng.com/public/uploads/preview/reddit-clipart-icon-reddit-upvote-transparent-11562895696nryk8bvsps.png');
    }
    .down {
      background-image: url('https://www.vhv.rs/dpng/d/127-1278380_reddit-downvote-transparent-hd-png-download.png');
    }
    .gold {
      background-image: url('https://i.redd.it/4osxoc5mp5h21.jpg');
    }
    input[type=button].reddit {
      cursor: pointer;
      background-size: cover;
      border: none;
      width: 20px;
      height: 20px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    function clean(a) {
      return a.replace(/\\/g,"\\\\");
    }
    function s(id) {
      var data = "";
      if ($("s-link").val == "") {
        data = `{"name":"${clean($("#s-name").val())}","user":"${clean(id)}"}`
      } else {
        data = `{"name":"${clean($("#s-name").val())}","link":"${clean($("#s-link").val())}","user":"${clean(id)}"}`
      }
      $.ajax({
        type: "POST",
        url: "/suggest",
        contentType: 'application/json',
        data: data,
        success: data => {
          if (data == "nice") {
            location.reload();
          } else if (data == "!url") {
            alert("The URL entered is not valid.");
          } else if (data == "!name") {
            alert("The name entered is the same / similar to one already suggested.");
          } else {
            console.error(data);
            alert("Error. Check console for details.");
          }
        }
      });
    }
    function sort() {
      window.location.href = `${window.location.pathname}?sort=${$("#sort :selected").val()}`
    }
    function up(i,id) {
      $.ajax({
        type: "POST",
        url: "/up",
        contentType: 'application/json',
        data: `{"i":"${i}","id":"${id}"}`,
        success: data => {
          if (data == "nice") {
            location.reload();
          }
          else {
            console.error(data);
            alert("Error. Check console for details.");
          }
        }
      });
    }
    function down(i,id) {
      $.ajax({
        type: "POST",
        url: "/down",
        contentType: 'application/json',
        data: `{"i":"${i}","id":"${id}"}`,
        success: data => {
          if (data == "nice") {
            location.reload();
          }
          else {
            console.error(data);
            alert("Error. Check console for details.");
          }
        }
      });
    }
  </script>
</head>

<body>
  <div>
    <h1>Rice Pls Play™</h1>
    <p><b><i>the website looks ugly rn sorry ill fix it up later</i></b></p>
    <p>Currently logged in as: <%= disc.username %>#<%= disc.discriminator %> If you want to log in as someone else, <a href="/login">click here.</a> Please don't use alts to get more votes though ;(</p>
  </div>
  <div>
    <h2>Suggest stuff here</h2>
    <p>Name: <input type="text" id="s-name"></input></p>
    <p>Link (optional): <input type="text" id="s-link"></input></p>
    <input type="button" onclick="s('<%= disc.username %>#<%= disc.discriminator %>')" value="Go!"></input>
  </div>
  <div>
    <h2>Suggestions</h2>
    <p>
      Sort by <select id="sort">
        <option value="0">Default (Request date)</option>
        <option value="1">Reverse Default</option>
        <option value="2">Alphabetical</option>
        <option value="3">Reverse Alphabetical</option>
        <option value="4">Alphabetical (Name)</option>
        <option value="5">Reverse Alphabetical (Name)</option>
        <option value="6">Most upvoted</option>
        <option value="7">Most downvoted</option>
      </select>
      <input type="button" onclick="sort()" value="Go!"></input>
    </p>
    <% for(var i = 0; i < suggestions.length; i++) { %>
    <div class="s">
      <% if (suggestions[i].link !== undefined) { %>
      <h3><a href=<%= suggestions[i].link %>><%= suggestions[i].name %></a></h3>
      <% } else { %>
      <h3><%= suggestions[i].name %></h3>
      <% } %>
      <p>Suggested by <%= suggestions[i].user %></p>
      <p><b>
        <input class="up reddit" type="button" onclick="up('<%= suggestions[i].i %>', '<%= disc.id %>');"></input> 
        <% if (suggestions[i].whoup.includes(disc.id)) { %>
        <span style="color:red">[<%= suggestions[i].up %>]</span> / 
        <% } else { %>
        <span style="color:red"><%= suggestions[i].up %></span> / 
        <% } %>
        <% if (suggestions[i].whodown.includes(disc.id)) { %>
        <span style="color:blue">[<%= suggestions[i].down %>]</span> 
        <% } else { %>
        <span style="color:blue"><%= suggestions[i].down %></span>
        <% } %>
        <input class="down reddit" type="button" onclick="down('<%= suggestions[i].i %>', '<%= disc.id %>');"></input> 
        <input class="gold reddit" type="button" onclick="alert('Thanks for the gold, kind stranger!');"></input>
      </b></p>
    </div>
    <% } %>
  </div>
</body>

</html>